.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.LoginButton{
  margin-left: 36%;
  margin-top: 5%;

}
.createbut{
  margin-left: 22%;
  margin-top: 5%;
}
.text-center{
  margin-top: 1%;
}
.Loginpage{
  margin: 7%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  border: 2px solid gray;
  width: 62vw;
  height: 55vh;
  margin-left: 20%;
  border-radius: 10px;
  background-color: rgb(234, 226, 226);
  padding-top: 3%;
}
.Signup{
  margin: 2%;
}
.name{
  padding: 2%;
}
.Firstname{
  margin: 10px;
}
.Lastname{
  margin: 10px;
}
.Login_credentials{
  padding: 10px;
}
.Email{
  margin: 10px;
}
.Password{
  margin: 10px;
}
.SignupPassword{
  margin: 10px;
}
.SignupEmail{
  margin: 10px;
}
.main-footer{
  color: white;
  background-color: black;
  padding-top:  3vh;
  margin-top: 20%;
  position: relative;
  margin-bottom: 0%;
  width: 100%;
}
.list-unstyled{
  display:inline-block;
}

.list-unstyled1{
  margin-left: 10px;
}
.list-unstyled2{
  text-align: center;
  margin-top: 1vh;
  
}
.list-unstyled2 ul li{
 
  padding: 2vw;
  display: inline;
}
/* .admin{
  margin: 20px;  
  padding: 20px;
  justify-content: center;
  box-shadow:0 6px 20px 0 rgba(0,0,0,0.19) ;

} */
.icon{
   display: flex; 
   flex-direction: column;
   align-items: center;
   margin-top: 10px;

}
.text{
font-weight: bold;
  color: rgb(255, 162, 0);
  font-size: 40px;

}
.icon_class>.MuiSvgIcon-root{
    color: rgb(135, 207, 63);
}
.signup{
  padding: 10px;
  margin: 2px;
}
.login{
  padding: 0px;
  margin: 0px;
}
.form{
  display: flexbox;
}
.Signup{
  display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 2px solid gray;
    width: 62vw;
    margin-left: 20%;
    border-radius: 20px;
    background-color: rgb(234, 226, 226);
    padding-bottom: 25px;
    padding-top: 15px;
    
}
.Checkbox{
  padding: 20px;
  display: inline;
}
.text-center{
  margin-top: 30px;
}
.TrendingSection{
  margin-top: 6%;
  margin-left: 0.3%;
}
.Filters{
  margin-left: 72%;
  margin-top: 10px;
}
.Searchbox{
  margin-left: 72%;
}
.AllCards{
  margin-left: 15%;
  margin-right: 15%;
  
}
.TrendingSection{
  margin-left: 15%;
}
.TrendingCards{
  margin-left: 15%;
}
.Content{
  /* background-position: center;
  background-image: cover; */
  background-image: url(./background_image.webp)
}
.HR{
  margin-left: auto;margin-right:17.8%;height: 3px;background-color:#666; opacity: 1.5;
}
.TrendingSection{
  display: inline;
  white-space: nowrap;
}
.main_div{
  display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 2px solid gray;
    width: 62vw;
    margin-left: 20%;
    border-radius: 20px;
    background-color: rgb(234, 226, 226);
    padding-bottom: 25px;
    padding-top: 15px;
}
.Article{
  display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 2px solid gray;
    width: 62vw;
    margin-left: 20%;
    border-radius: 20px;
    background-color: rgb(234, 226, 226);
    padding-bottom: 25px;
    padding-top: 15px;
    height: 70vh;
    display: inline;

}
.Article1_h1{
  margin-top: 20px;
 margin-left: 42%;
 
}
.Article_p1{
 margin-top: 20px;
 margin-left: 20%;

 display: flex;
justify-content: center;
border: 2px solid gray;
width: 40vw;
border-radius: 2px;
}
.ArticleHR{
  margin-left: 10%;margin-right:10%;height: 3px;background-color:#666; opacity: 1.5;
}
.view_like{
  display: inline-block;
  margin-left: 73%;
  margin-top: 2%;
  padding: 10px;
}


